/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../fonts/PT_Sans-Narrow-Web-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(../fonts/PT_Sans-Narrow-Web-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}
html {
  /*
  background: url(../img/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  */
}



/*
 * Main content
 */
/* Color definitions */
body {
  background-color: transparent;
}
.well {
  background-color: rgb(209,210,212);
}

/* Steps Bar */
ol.steps {
  margin: 50px auto;
  padding: 0;
  width: 100%; /* or your desired width */
  text-align: center;
  /*CSS counters to number the steps*/
  counter-reset: step;
  display: flex;
}
ol.steps > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  color: black;
  float: left;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
}
ol.steps > li:before {
  content: counter(step);
  counter-increment: step;
  background-color: rgb(0,171,196);
  color: white;
  display: block;
  line-height: 20px;
  margin: 0 auto 5px auto;
  width: 20px;
}
ol.steps > li.active {
  font-weight: 700;
}
ol.steps > li.active:before {
  background-color: rgb(238,127,0);
  font-weight: 700;
}
ol.steps > li:first-child:after {
  content: none; 
}
ol.steps > li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(0,171,196);
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

/*ol.steps > li.active:after{
  background-color: rgb(238,127,0);
}
How to green all prvious elents ? a way is to add a class on all visited elements using angular ngclass*/

/* submit form style */
.submitForm {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.submitForm .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.submitForm .form-control:focus {
  z-index: 2;
}
.submitForm input[type="email"] {
  margin-bottom: 10px;
}
.submitForm input[type="email"]::-webkit-input-placeholder {
  text-align: right;
}
.submitForm input[type="email"]::-moz-placeholder {
  text-align: right;
}
.submitForm input[type="email"]::-ms-input-placeholder {
  text-align: right;
}



/*
 * Footer
 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color: rgb(238,127,0);
  color: white;
  /*border-top: 1px #eee inset;*/
  bottom: 0;
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 91px;
}
.footer > .container {
  margin: 20px auto;
}



/*
 * helpers
 */

.pull-center {
  text-align: center;
}
