<div class="col-xs-8 col-xs-offset-2">
    <div class="row">
        <div class="pull-center"
             data-ng-repeat="result in results">
            <h2>Thank you for your participation <strong>{{ result.participant }}</strong></h2>
            <img id="endLogo"
                 src="img/logo_group_with_baseline.png"
                 alt="Faurecia logo with baseline">
            <h3>You answered <strong>{{ result.results[0].num_good }} / {{ result.results[0].total }}</strong> questions correctly for <strong>{{ result.results[0].quiz }}</strong>.</h3>
        </div>
    </div>
    <div class="row">
        <a href="/"
           class="btn btn-primary pull-right"
           role="button"><span class="glyphicon glyphicon-repeat"></span> Start a new Quiz</a>
    </div>
</div>
