<div class="col-xs-8 col-xs-offset-2">
    <div class= "pull-center" data-ng-repeat="result in results">
        <h1>Thank you for your participation <strong>{{ result.participant }}</strong></h1>
        <img src="" alt="Faurecia logo"></img><br>
        <img src="" alt="Technical perfection, automotive passion"></img>
        <br><br>
        <p>You answered <strong>{{ result.results[0].num_good }} / {{ result.results[0].total }}</strong> questions correctly for <strong>{{ result.results[0].quiz }}</strong>.</p>
        <br>
    </div>
    <a href="/" class="btn btn-link pull-right" role="button">Start a new Quiz &infin;</a>
</div>
