<div class="col-xs-6 col-xs-offset-3">
    <h1 class="text-center page-heading">Welcome to the GIS TechDay Seloncourt<br><small>Wed. 22 oct. 2014</small></h1>
    <div data-ng-switch="quizzes.length"
         class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-lg btn-primary btn-block"
                data-ng-disabled="!ready"
                data-ng-switch-when="1"
                data-ng-click="select_quiz(quizzes[0])">Start the Quiz</button>
        <select data-ng-switch-when=">1"
                class="form-control text-center"
                data-ng-disabled="!ready"
                data-ng-click="select_quiz(quiz)"
                data-ng-model="quiz"
                data-ng-options="quiz.name for quiz in quizzes"
                required>
            <option style="display:none"
                    value="">select a quiz</option>
        </select>
    </div>
    <p class="alert alert-danger text-center"
       data-ng-if="error">{{ ERRORS[error] }}
        <a type="button"
           class="btn btn-link"
           target="_blank"
           data-ng-if="error == 'QUIZ_NOT_FOUND'"
           href="/admin">Create a new one now.</a>
    </p>
</div>
