<div class="col-md-6 col-md-offset-1 well well-sm">
    <form name="quizForm" class="quizForm pull-left" role="form" novalidate>
        <legend>Quiz</legend>

        <div class="form-group">
            <label for="quizQuestion">What's the IP address</label>
            <span class="label label-danger" data-ng-show="quiz_errors.quizQuestion" data-ng-bind="quiz_errors.quizQuestion"></span>
            <input type="text" class="form-control" name="quizQuestion" placeholder="" data-ng-model="person.quizQuestion" required autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block" data-ng-disabled="quizForm.$invalid" data-ng-click="quiz_results()">Next step</button>
    </form>
</div>
