<div>
    <form name="submitForm"
          class="submitForm"
          role="form"
          novalidate>
        <fieldset>
            <legend>Submit quiz results</legend>

            <div class="form-group">
                <label class="control-label">Your email address</label>
                <span class="label label-danger pull-right"
                      data-ng-show="submit_errors.email"
                      data-ng-bind="submit_errors.email"></span>
                <input type="email"
                       class="form-control"
                       name="email"
                       placeholder="@faurecia.com"
                       data-ng-model="participant.email"
                       required>
            </div>
            <div class="btn-group btn-group-lg btn-group-justified">
                <div class="btn-group">
                <a href="#/quiz"
                   class="btn btn-default"
                   role="button">Previous</a>
                </div>
                <div class="btn-group">
                <button class="btn btn-primary"
                        data-ng-disabled="submitForm.$invalid"
                        data-ng-click="submit_results()">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
